<footer class="foot">
  <div class="foot-gold"></div>
  <div class="foot-text">
    <span><%= company.footer_cta %></span>
    <% if (company.footer_cta2) { %>
    <span class="foot-text-2"><%= company.footer_cta2 %></span>
    <% } %>
  </div>
</footer>
